<% include ../partials/header %>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <div class="col-md-3 col-sm-4">
        <div class="thumbnail avatar">
            
            <img src="<%= user.avatar %>" alt="user profile image" id="avatar">
        </div>
        <div class="caption text-left">
            <h2>
                <%= user.firstName + " " + user.lastName + " "%>
                <% if(currentUser && user._id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)){ %>
                    <a class="btn btn-warning btn-xs" href="/users/<%= user._id %>/edit">Edit Profile</a>
                <% } %>
            </h2>
        </div>
    </div>
</div>

<% include ../partials/footer %>