<% include ../partials/header %>


<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <img src="../../public/img/no-image.png" alt="user profile image">
        <!-- <img src="<%= user.avatar %>" alt="user profile image" onerror="if (this.src != '../../public/img/no-image.png') this.src = '../../public/img/no-image.png';"> -->
    </div>
    <div class="col-md-8">
        
    </div>
</div>


<% include ../partials/footer %>